body{
  background-color: #c2ded1;
  font-family: 'Nunito', sans-serif;
}

#navbar{
  background: #c2ded1;
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .nav-link{
  color: white;
}

#navbar .nav-link:hover{
  color: #354259;
}

#navbar .navbar-brand{
  color : #354259;
  font-size: 1.5rem;
}

#title-head h1{
  font-size: 3rem;
  font-weight: 100;
}

.blurb h2{
  color: #354259;
  font-size: 2.5rem;
  font-weight: 100;
}

.blurb p{
  color: #3f4e4f;
  font-size: 1.12rem;
  font-weight: 100;
  line-height: 2;
}

.content{
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  #title-head h1{
    font-size: 2.5rem;;
    font-weight: 100;

  }
}